<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item/bg_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_128.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_16384.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,760},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,570},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,380},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,190},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_32768.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,760},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_4096.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,570},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_512.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,380},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,190},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_65536.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,950},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
            <key>item/bg_8192.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,760},{130,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,190}}</string>
                <key>sourceSize</key>
                <string>{130,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item_pack.png</string>
            <key>size</key>
            <string>{390,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d8c0265e2974c700cb8d98934fe9dad:cd80454ca813e34e305a2e8e12e604df:dad3eb98b688a98e5484fe2d9c420d4e$</string>
            <key>textureFileName</key>
            <string>item_pack.png</string>
        </dict>
    </dict>
</plist>
