<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{658,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,481}}</string>
                <key>sourceSize</key>
                <string>{658,481}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,0},{51,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{51,77}</string>
            </dict>
            <key>btn_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,130},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,130},{414,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,156}}</string>
                <key>sourceSize</key>
                <string>{414,156}</string>
            </dict>
            <key>btn_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,130},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{479,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,59}}</string>
                <key>sourceSize</key>
                <string>{479,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_pack.png</string>
            <key>size</key>
            <string>{834,767}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b33634860e4c9e6df13238499090d7b:faa13514d47944e5807e49aa4560780f:b908fe82527cb579040abf455521b9e1$</string>
            <key>textureFileName</key>
            <string>menu_pack.png</string>
        </dict>
    </dict>
</plist>
